<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel = "stylesheet" href = "..//static/output.css">
    <title>Result</title>
  </head>
  <body>
    <div id="root"></div>
    <div class="form-group">
        <form action = "/output" method = "GET">

        </form>
    </div>
    <input type = "button" value = "Copy" class = "button">
    <input type = "button" value = "Back" class = "button">
  </body>
</html>